.Navbar {
    background-color: red;
    width: 100%;
    margin: auto;
  }
  
  .containerNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    margin: auto;
  }
  .nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  
  .navlinkNavbar {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    background-attachment: fixed;
  }
  


.home {
    text-align: center;
  }
  
.homeImg {
    background-image: url("../src/assets/img/Banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  
    width: 100%;
    height: 30rem;
    
   
   
}
.category{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
  
}

.subcategory{
    padding: 50px;

}


.ContainerRegister {
    background-color: #dae8d0;
    width: 35%;
    height: 70vh;
    border-radius: 3rem;
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

.formRegister {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: 2rem;
  }

.cards{
    padding: 3rem; 
}

.login{
    padding: 3rem;   
}

.footer{
background-color: red;
color: white;
text-align: center;
}

.footer2{
background-color: black;
color: white;
}
